hero-component {
   --w: 100vw;
   --h: 100vh;
   --size: 13px;
   --border-width: 0;
   --f-h1: var(--f-sans);
   --weight: '100';
   --g-header: 0.9rem;
   --g: 1.3rem;
   --g-btns: 0.7rem;
   --border-width-btn-main: 0;
   --border-width-btn: 0;
   --bg-btn-h: var(--clr-custom-blue-a);
   --bg-btn-main-h: var(--clr-custom-blue);
   --bg-btn-main: var(--clr-custom-blue);
   --clr-btn-main: var(--clr-light);
   --clr-btn-main-h: var(--clr-light);
   --clr-btn-h: var(--clr-light);
}